<!DOCTYPE html>
<html>
<title>My10K</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Raleway|Source+Code+Pro" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="static/styles.css" type="text/css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/main.js"></script>
<body>

<!-- Side Navigation -->
<nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="display:none" id="mySidenav">
  <h1 class="w3-xxxlarge w3-text-teal">Side Navigation</h1>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-xxxlarge w3-text-theme">Close <i class="fa fa-remove"></i></a>
  <a href="javascript:void(0)">Home</a>
  <a href="javascript:void(0)">Log In</a>
  <a href="javascript:void(0)">Register</a>

</nav>

<!-- Header -->
<header class="w3-title w3-medium w3-wide w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-opennav"></i>
  <div class="w3-center">
  <h1 class="w3-xxlarge w3-animate-right">My10K</h1>
  <h4 class="w3-text-orange w3-padding-0 w3-animate-left">Productivity Tracker</h4>
    <div class="w3-padding-0">
                <p class="w3-animate-fading">Welcome, {{ unn }}!</p>
  </div>
</header>
<div class="w3-row-padding w3-center w3-margin-top">
{% for record in q %}
<div class="w3-third">
  <div class="w3-card-8 w3-padding-top" style="min-height:400px">
          <form id="{{ record.subject }}" method="get">
                 <ul style='list-style:none;display:inline;margin-left: -2em;'>
                          <li style='display:inline'><button formmethod='post' formaction="/edit?='{{record.subject}}'" id="btn-edit-record" class="w3-btn-floating-large fa fa-edit"></button></li>
                          <li style='display:inline'><button formmethod='post' formaction="/delete?='{{record.subject}}'" id="btn-delete-record" class="w3-btn-floating-large fa fa-minus"></button></li>
                          <li style='display:inline'><button type="button" id="btn-add-link" class="w3-btn-floating-large fa fa-plus" data-toggle="modal" data-target="#addLinkModal"></button></li>
                  </ul>
          </form>
  <h3>Subject: {{ record.subject }}</h3>
  <h4>Links: {{ record.links }}</h4>
  <h4>Comments: {{ record.comments }}</h4>
  <h4>Created: {{ record.created }}</h4>
  <h4>Last Modified: {{ record.last_modified }}</h4>

 </div>
 </div>
 {% endfor %}
 </div>


<!-- Modal -->
<div id="addLinkModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
// Side navigation
function w3_open() {
    var x = document.getElementById("mySidenav");
    x.style.width = "100%";
    x.style.textAlign = "center";
    x.style.fontSize = "50px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
      activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

//var mybtn = document.getElementsByClassName("testbtn")[0];
//mybtn.click();

// Accordions
function myAccFunc(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-dark-grey";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-dark-grey", "");
    }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
slideIndex = slideIndex + n;
showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

//showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      document.getElementById("demoprgr").innerHTML = width * 1  + '%';
    }
  }
};


</script>

</body>
</html>
